<html>
	<head>
		
	</head>
	<body>
		<form action="/hack/signup" method="post">
		  <div class="container">
		    <label><b>Name:</b></label>
		    <input type="text" placeholder="Name" name="name" required>
			<br>
		    <label><b>Password</b></label>
		    <input type="password" placeholder="Enter Password" name="pass" required>
			<br>
		    <label><b>Weight</b></label>
		    <input type="text" placeholder="Enter Weight" name="weight" required>
			<br>
		    <label><b>Age</b></label>
		    <input type="text" placeholder="Enter Age" name="age" required>
			<br>
			<label><b>Gender</b></label>
			<select name="gender">
			  <option value="male">Male</option>
			  <option value="female">Female</option>
			</select>
			<br>
			<label><b>Activity</b></label>
			<select name="">
			  <option value="sedentary">Sedentary</option>
			  <option value="low active">Low Active</option>
			  <option value="active">Active</option>
			  <option value="high active">High Active</option>
			</select>
		    <div>
		      <button type="submit">Sign Up</button>
		    </div>
		  </div>
		</form>
	</body>
</html>